.header {
    text-align: center;
    margin-bottom: 20px;
}

.search-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.search-select {
    margin-right: 10px;
}

.search-input {
    margin-right: 10px;
}

.submit-button {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}

.submit-button:hover {
    background-color: #e0e0e0;
}

.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.pagination-button {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    margin: 0 5px;
}

.pagination-button:hover {
    background-color: #e0e0e0;
}

.book-list {
    margin-top: 20px;
}

.book {
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}

.book img {
    max-width: 100px;
}

.book-details {
    margin-bottom: 10px;
}
