@charset "UTF-8";

.content-main{
	padding:10px 20px;
}
/* 공통 메시지
---------------------*/
.result-display{
	width:600px;
	height:200px;
	margin:50px auto;
	border:1px solid #000;
	display:flex;
	align-items:center;/*세로 정렬*/
	justify-content:center;/*가로 정렬*/
}
/* 공통 정렬
---------------------*/
.align-center{
	text-align:center;
}
.align-right{
	text-align:right;
}


/* 폼 스타일 */
ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

ul li label {
    width: 150px;
    font-weight: bold;
}

ul li input[type="text"],
ul li input[type="date"],
ul li input[type="file"],
ul li textarea {
    flex: 1;
    padding: 8px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    font-size: 16px;
}

ul li input[type="checkbox"] {
    margin-left: 10px;
}

.align-center {
    text-align: center;
    margin-top: 20px;
}

.align-center input[type="submit"]{
    background-color: #77dd77; /* 파스텔 그린 */
	 border: none;
	 border-radius: 25px; /* 둥근 모서리 */
	 color: white;
	 padding: 10px 20px;
	 font-size: 16px;
	 font-weight: bold;
	 text-align: center;
	 text-decoration: none;
	 display: inline-block;
	 margin: 10px 2px;
	 cursor: pointer;
	 transition: background-color 0.3s, box-shadow 0.3s;
	 box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* 부드러운 그림자 */
}


