@charset "UTF-8";

/*
------------------공통 정렬------------------
*/
.align-center{
	text-align:center;
}
.align-right{
	text-align:right;
}
/*
------------------공통 결과 메세지------------------
*/
.result-display{
	width:400px;
	height:200px;
	margin:50px auto;
	border:1px solid #000;
	display:flex;
	align-items:center;/*세로 정렬*/
	justify-content:center;/*가로 정렬*/
}
/*
------------------공통 버튼------------------
*/
/*제출 버튼*/
input[type="submit"] {
    background-color: #007bff;
    color: white;
	padding:10px 10px 10px 10px;
    border-radius:10px;
    border-style:none;
    cursor: pointer;
}
input[type="submit"]:hover {
    background-color: #0056b3;
}
/*일반 버튼*/
input[type="button"] {
    background-color: #007bff;
    color: white;
	padding:10px 10px 10px 10px;
	border-radius:10px;
	border-style:none;
    cursor: pointer;
}
input[type="button"]:hover {
    background-color: #0056b3;
}
/*
------------------공통 디자인------------------
*/
h2 {
	text-align: center;
}
body {
	max-width:1200px;
	margin : 0 auto;
}
/*테이블 디자인*/
table{
	width:1200px;
	margin : 0 auto;
	border:1px solid #e0e0e0;
	border-collapse:collapse;
	margin-top:30px;
}
table td{
	border:1px solid #e0e0e0;
	padding:5px;
}
table th{
	border:1px solid #e0e0e0;
	padding:5px;
	background-color: #e3f2fd;
}
form#search_form{
	border:none;
}
ul.search{
	width:340px;
	list-style:none;
	padding:0;
	margin:0 auto;
}
ul.search li{
	margin:0 0 9px 0;
	padding:0;
	display:inline;
}
/*
------------------장바구니------------------
*/
/*가격*/
.item_bk_price{
	font-size:0.8em;
	text-decoration: line-through; 
}
.item_item_price{
	color:#a60f0f;
	font-weight:bold;
}
.item_list_price{
	text-align: right;
	font-size:8pt;
}
.totalPayment{
	color:#a60f0f;
	font-weight:bold;
	font-size:1.3em;
}

/*동적으로 생성되는 목록*/
#output tr td{
	font-size:10pt;

}
/*배송비 안내 문구*/
#ship_message{
	font-size:7.5pt;
}
/*
--------------------주문--------------------
*/
#pay_points_value{
	color:#2b39b5;
}

/* 공통 폼*/
form{
	width:600px;
	margin:0 auto;
	border:1px solid #000;
	padding:10px 10px 10px 30px;
}
form ul li{
	clear:both;
}
form ul li label{
	width:130px;
	float:left; /*태그를 왼쪽으로 정렬*/
}
ul {
	list-style:none;
}
input{
	margin-top:4px;
}
input[type="text"],input[type="password"],
                                     input[type="email"]{
	width:310px;	
}
#register_form input[id="id"]{
	width:223px;
}
input[id="zipcode"]{
	width:205px;
}
input[type="number"]{
	width:100px;
}
.form-notice{
	margin-left:130px;
}
/* 로그인
---------------------*/
#login_form{
	width:300px;
	margin:0 auto;
	padding:0;
	border:none;
}
#login_form ul{
	padding:0;
}
.floating-label{/*floating label 설정*/
	position:relative;
}
.floating-label > .form-input{
	width:300px;
	height:32px;
	padding:0.55rem 0.55rem;
}
.floating-label > label{
	position:absolute;
	top:0;
	left:0;
	padding:1.05rem 0.75rem;
	transition:all 0.25s;
}
.floating-label > .form-input::placeholder{
	color:transparent;
}
.floating-label > .form-input:focus, 
 .floating-label > .form-input:not(:placeholder-shown){
	padding-top:1.125rem;
	padding-bottom:0.125rem;      
}

.floating-label > .form-input:focus + label, 
 .floating-label > .form-input:not(:placeholder-shown) + label{
	opacity:0.65;
	transform:scale(0.85) translateY(-0.5rem) translateX(-0.5rem);      
}