@charset "UTF-8";
/* 인기 급상승 도서
---------------------*/
.horizontal-area{
	flex: 0 0 auto;
	width: 156px; /* 이미지 너비 설정 */
    height: 234px; /* 이미지 높이 설정 */
	display:inline-block;
	margin-left: 65px;
	justify-content: center;
	margin-top: 20px;
}
.horizontal-area img {
	max-width: 100%;
    height: 100%;
    object-fit: contain; /* 이미지가 박스에 맞도록 조정 */
	margin-right: 5px;
	cursor:pointer;
	margin: 0 auto;
	justify-content: center;
}

.name{
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
	width:156px;
	display:inline-block;
	cursor:pointer;
	margin: 0 auto;
}
.h5{
	margin: 0 auto;
	color:black;
}
.Topic{
	border-radius: 12.5px; /* 모서리를 둥글게 만들기 */
	background-color: #03a9f4;;
	color:white;
	height:50px;
	margin-top: 20px;
	text-shadow: 1px 1px 3px grey;
}
.Topic-h4{
	margin: 0 auto;
	justify-content: center;
}

/*캐러셀 css*/
.carousel {
    position: relative;
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
    border: 1px solid #ddd;
}

.carousel-inner {
    display: flex;
    transition: transform 0.5s ease;
}

.carousel-item {
    min-width: 100%;
    box-sizing: border-box;
}

.carousel-item img {
    width: 100%;
    display: block;
}

.carousel-control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-decoration: none;
    padding: 10px;
    cursor: pointer;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}



/*
.book-img {
    flex: 0 0 auto;
    width: 200px;  이미지 너비 설정 
    height: 200px;  이미지 높이 설정 
    margin-right: 20px;
}

.book-img img {
    max-width: 100%;
    height: 100%;
    object-fit: contain;  이미지가 박스에 맞도록 조정 
}
*/
