/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    display: flex;
}

.content {
    flex: 1;
    padding: 20px;
}

.user-info {
    display: flex;
    align-items: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.profile-image {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 20px;
}

.user-details h2 {
    margin: 0;
}

.sidebar {
    width: 150px; /* 사이드바 너비 줄임 */
    background-color: #f8f8f8;
    padding: 10px;
    box-sizing: border-box;
    height: auto; /* 사이드바 높이를 자동으로 조정 */
    margin-right: 20px; /* 사이드바와 메인 콘텐츠 사이의 간격 추가 */
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar li {
    margin-bottom: 5px;
}

.sidebar a {
    text-decoration: none;
    color: #000;
    font-size: 10pt; /* 글씨 크기 변경 */
    display: block;
    padding: 5px 10px;
    background-color: transparent; /* 배경색 제거 */
    border-radius: 4px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
}

.sidebar a:hover {
    background-color: #d0d0d0;
}