@charset "UTF-8";

/* 공통 메시지
---------------------*/
.result-display{
	width:400px;
	height:200px;
	margin:50px auto;
	border:1px solid #000;
	display:flex;
	align-items:center;/*세로 정렬*/
	justify-content:center;/*가로 정렬*/
}
/* 공통 정렬
---------------------*/
.align-center{
	text-align:center;
}
.align-right{
	text-align:right;
}

/*일반 버튼*/
input[type="button"] {
    background-color: #007bff;
    color: white;
	padding:10px 20px 10px 20px;
	border-style:none;
    cursor: pointer;
}
input[type="button"]:hover {
    background-color: #0056b3;
}
/*






