@charset "UTF-8";

/* 전체 레이아웃
---------------------*/
body{
	margin:0 auto;
	background:#FFFFFF;
}
/* 페이지 레이아웃
---------------------*/
.page-main{
	width:1200px;
	background:#FFFFFF;
	margin:40px 0;
	border-radius:5px;
	box-shadow:0 2px 6px rgba(100,100,100,0.3);
	min-height:650px;
}


