@charset "UTF-8";

*{
	margin:0;
	padding:0;
}
a:link{
	text-decoration:none;
	color:#000000;
}
a:visited{
	text-decoration:none;
	color:#000000;
}
a:hover{
	text-decoration:underline;
	color:#6C6C6C;
}
/*
------------------공통 정렬------------------
*/
.align-center{
	text-align:center;
}
.align-right{
	text-align:right;
}
/*
------------------공통 결과 메세지------------------
*/
.result-display{
	width:400px;
	height:200px;
	margin:50px auto;
	border:1px solid #000;
	display:flex;
	align-items:center;/*세로 정렬*/
	justify-content:center;/*가로 정렬*/
}
/*
------------------공통 버튼------------------
*/
/*제출 버튼*/
input[type="submit"] {
    background-color: #007bff;
    color: white;
	padding:10px 10px 10px 10px;
    border-radius:10px;
    border-style:none;
    cursor: pointer;
}
input[type="submit"]:hover {
    background-color: #0056b3;
}
/*일반 버튼*/
input[type="button"] {
    background-color: #007bff;
    color: white;
	padding:10px 10px 10px 10px;
	border-radius:10px;
	border-style:none;
    cursor: pointer;
}
input[type="button"]:hover {
    background-color: #0056b3;
}
/*
------------------공통 디자인------------------
*/
/*테이블 디자인*/
table{
	width:1200px;
	margin : 0 auto;
	border:1px solid #e0e0e0;
	border-collapse:collapse;
	margin-top:30px;
}
table td{
	border:1px solid #e0e0e0;
	padding:5px;
	text-align:center;
}
table th{
	border:1px solid #e0e0e0;
	padding:5px;
	background-color: #e3f2fd;
	text-align:center;
}
h2 {
    text-align: center;
    margin: 20px;
}
/*
------------------장바구니------------------
*/
/*상품테이블*/
#output{
	border-left:none;
	border-right:none;
}
#output tr th{
	border-left:none;
	border-right:none;
}
#output tr td{
	border-left:none;
	border-right:none;
}
/*테이블 간격 조정*/
#output td:nth-child(1){
	width:40px;
}
#output td:nth-child(2){
	width:60px;
}
#output td:nth-child(3){
	width:700px;
}
#output td:nth-child(4){
	width:200px;
	padding-left:50px;
}
#output td:nth-child(5){
	width:100px;
}
#output td:nth-child(6){
	width:100px;
}

/*체크박스*/
.checkbox{
	text-align:center;
}

/*상품 이미지*/
.item_img a img{
	width:60px;
}

/*상품 이름*/
.item_name{
	text-align:left;
}

/*가격*/
.item_list_price{
	text-align:left;
	font-size:9pt;
	line-height: 1.5;
}
.item_bk_price{/*정가*/
	text-decoration: line-through;
}
.item_item_price{/*판매가*/
	font-size:1.2em;
	color:#a60f0f;
	font-weight:bold;
}

/*상품 등급*/
tr .item_grade_1{/*상*/
	color:#ab0977;
}
tr .item_grade_2{/*중*/
	color:#08a813;
}
tr .item_grade_3{/*하*/
	color:#000000;
}

/*삭제버튼*/
tr .del_button{
	text-align:center;
}


/*전체선택 삭제 버튼*/
#selectAll-btn{
	margin-top: 10px;
}


/*결제 테이블*/
.totalPayment{/*총결제금액*/
	color:#a60f0f;
	font-weight:bold;
	font-size:1.3em;
}


/*주문하기 버튼*/
.order_btn{
	margin-top:50px;
	text-align: center;
}
.order_btn input[type="submit"]{
	width:300px;
	background-color:#d93057;
	font-size:1.3em;
	font-weight: bold;
}
.order_btn input[type="submit"]:hover{
	background-color:#a11b3a;
}
/*배송비 안내 문구*/
#ship_message{
	color:#595959;
	font-size:9pt;
}
/*
--------------------주문--------------------
*/
#pay_points_value{
	color:#2b39b5;
}