@charset "UTF-8";


#output tr td{
	font-size:10pt;
}
/*
------------------장바구니------------------
*/
.item_bk_price{
	font-size:0.8em;
	text-decoration: line-through; 
}
.item_item_price{
	color:#a60f0f;
	font-weight:bold;
}
.item_list_price{
	text-align: right;
	font-size:8pt;
}
.totalPayment{
	color:#a60f0f;
	font-weight:bold;
	font-size:1.3em;
}
table{
	width:1000px;
}
/*
--------------------주문--------------------
*/
#pay_points_value{
	color:#2b39b5;
}